@import url('./css/normalize.css');
:root{
    --pitch_black:#000000;
    --hero_color:#dadbf1;
    --sign_in_button_color:#4C5FD5;
    --white_color:#fff;
    --size-large:1.5rem;
    --nav-column-gap:10px;
   }


/*start resets*/
*{
    margin:0;
    padding:0;
}
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
/*end resets*/

.navbar{
    display: flex;
    flex-direction: row;
    background-color: var(--pitch_black);
    justify-content: space-between;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    color: var(--white_color);
    height: 5rem;
    margin:0;

}
.navbar__start{
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    align-self: center;
    column-gap: var(--nav-column-gap);
}
.navbar__start{
    font-size: 2.5rem;

}
.navbar__start a {
    color: var(--white_color);
    text-decoration: none;
}

.navbar__start a i {
    height: 100%;
    
}
.navbar__start a:hover{
    color:var(--white_color);
    text-decoration: none;
    opacity: 0.5;
}


.navbar__end{
    font-size: 2.0rem;
    margin-top: auto;
    margin-bottom: auto;

}
.navbar__end a {
    color: var(--white_color);
    text-decoration: none;
    padding:0.5rem;
    background-color: #191b1d;
    border-radius: 4px 4px 4px 4px;
    
}

.navbar__end a i {
    height: 100%;
    padding: 10px;
    
}
.navbar__end a:hover{
    color:var(--white_color);
    text-decoration: none;
    opacity: 0.5;
}
.navbar__end a:nth-child(1){
    border: 0.1px solid var(--white_color);
}

.navbar__end a:nth-child(2){
    background-color: var(--sign_in_button_color);
}
.hero{
    text-align: center;
    align-self: center;
    background-color: var(--hero_color);
    height: 30rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.hero__search-box {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    position: relative;
    border: 1px solid var(--pitch_black);
  }
  .hero__search-box:hover{
    transition: border 0.5s;
    transition-timing-function: cubic-bezier(0.43,0.54,0.12,0.42);
    border:4px solid rgb(56, 56, 56);
    border-radius: 5px 5px 5px 5px;
  }

  
  .hero__search-box  input {
    border: none;
    width: 40rem;
    height: 3.0rem;
    outline: none;
  }
  .hero__search-box  button {
    all:unset;
    background-color: var(--white_color);
 
  }
  .hero__search-box  button:hover {
    cursor: pointer;
 
  }
.hero__heading{
    font-size: 3.5rem;
}
.hero__search__button{
    font-size: 2.5rem;
}